body {
  margin: 0;
  padding: 0;
  background: #101010;
  color: #eee;
  font-family: sans-serif;
}

header {
  font-family: "Amatic SC", sans-serif;
  text-align: center;
  font-size: 2rem;
}

h1 {
  margin: 0 auto;
  font-weight: 400;
}

footer {
  text-align: center;
}

canvas {
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}

button {
}

.ui {
  width: 500px;
  text-align: center;
  margin: 10px auto;
  display: flex;
}

.ui-left, .ui-center, .ui-right {
  padding: 10px;
}

.ui-left input {
  width: 25px;
}

.ui-left {
  width: 33.33%;
  text-align: left;
}
